# EdxBuilder Dependencies

# List of modules
git+https://github.com/Yomguithereal/colifrapy.git
Markdown
lxml
pyyaml
python-scribd

# cloudkey
# sudo apt-get install libcurl4-openssl
# export PYCURL_SSL_LIBRARY=openssl
# pip install pycurl